div{
    border: 5px solid black;
    height: 0px;
    width: 0px;
    animation-name: apple;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes apple {

    0%{
        height: 0px;
        width: 0px;
    }
    25%{
        height: 200px;
        width: 200px;
        background-color: red;
    }
    50%{
        border-radius: 70%;
        height: 400px;
         width: 400px;
         background-color: green;
    }
    75%{
        border-radius: 60%;
        height: 600px;
        width: 600px;
        background-color: violet;
    }
    100%{
        border-radius: 50%;
        height: 800px;
        width: 800px;
        background-color: aqua;
    }
    
}