body{
    margin: 0px;
}
nav{
    padding: 30px;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    position: fixed; 
    width: 100%;
}

#Lion{
    background-image: url('https://images.unsplash.com/photo-1575550959106-5a7defe28b56?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlvbiUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

#Ele{
    background-image: url('https://img.freepik.com/free-photo/photorealistic-scene-wild-elephants_23-2151436783.jpg?semt=ais_hybrid&w=740&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Peak{
    background-image: url('https://t3.ftcdn.net/jpg/14/92/47/26/360_F_1492472617_QCRCMeYGTPZACGHcBF3EEn4wMwiG2tkF.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#Whale{
    background-image: url('https://images.unsplash.com/photo-1698551007683-7226dc6f4e85?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8d2hhbGV8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
